<phpunit bootstrap="./TestInit.php" colors="true">
    <testsuite name="Main and Base">
        <file>./Services/NYTimes/MainTest.php</file>    
        <file>./Services/NYTimes/BaseTest.php</file>
    </testsuite>
    <testsuite name="NewsWire">
        <file>./Services/NYTimes/NewswireTest.php</file>
    </testsuite>
    <testsuite name="Article Search">
        <file>./Services/NYTimes/ArticlesearchTest.php</file>
    </testsuite>
</phpunit>
